.buttons {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 8px;
    text-align: center;
    background-color: #eeeeee;
    transition: 0.3s;
    border: #004080;
    font-size: medium;
    size: 15px;
    border-radius: 12px;
}

.buttons:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.buttons button:hover{
    opacity: 0.7;
}

a:link {
    color: red;
    text-decoration: none;

}a:visited {
     color: gray;
 }