<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit Author</title>
</head>
<body>
<div align="center">
    <h1>Edit Author</h1>
    <br />
    <form action="/home/authors" th:action="@{/home/authors/save}" th:object="${authors}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Author ID:</td>
                <td>
                    <input type="text" th:field="*{id}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>FirstName:</td>
                <td>
                    <input type="text" th:field="*{firstName}" />
                </td>
            </tr>
            </tr>
            <tr>
                <td>LastName:</td>
                <td>
                    <input type="text" th:field="*{lastName}" />
                </td>
            </tr>
            <tr>
                <td>Nationality:</td>
                <td><input type="text" th:field="*{nationality}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>