<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/buttons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/card.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/logout-button.css}"/>

<title>Book Manager</title>
    <br/>
    <a href="/home/books" class="buttons">Books</a>&nbsp&nbsp&nbsp&nbsp
    <a href="/home/publishers" class="buttons">Publishers</a>&nbsp&nbsp&nbsp&nbsp
    <a href="/home/authors" class="buttons">Authors</a>&nbsp&nbsp&nbsp&nbsp
    <a href="/home/clients" class="buttons">Clients</a>&nbsp&nbsp&nbsp&nbsp
    <a href="/borrowed_books" class="buttons">BorrowedBooks</a>
    <a href="/logout" class="logout-button">Logout</a>

</head>
<body>
<br/>
<br/>
<br/>

<div align="center">
    <img src="../static/images/book_logo.png" th:src="@{/images/book_logo_good.png}"
         style="width:100px;height:100px;" />
</div>

<h1 align="center">Book Online Library</h1>
<br/>
    <div >
            <div class="row" >
                <div class="column" th:each="books : ${listBooks}">
                    <br/>
                    <div class="card" >
                        <h3><span th:text="${books.bookName}"/></h3>
                        <img th:src="@{'data:image/jpeg;base64,'+${books.bookImage}}" style="width:100px;height:100px;" alt=""/>
                        <p><span th:text="${books.authors.getFirstName()+' '+books.authors.getLastName()}"/></p>
                        <p><span th:text="${books.publishers.getPublisherName()}"/></p>
                        <p><button><a href="/borrowed_books">Book Card</a></button></p>
                    </div>
                </div>
            </div>
    </div>
<br/><br/>
</body>
<footer>
    <div align="center" th:insert="~{footer::copy}">&copy; 2019 The Static Templates</div>
</footer>
</html>