<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Create New Publisher</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:action="@{/home/publishers/save}" th:object="${publishers}"
                  method="post">
                <h2 class="col-sm-9">Create New Publisher</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('publisherName')}" th:errors="*{publisherName}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{publisherName}" placeholder="Publisher"
                               class="form-control"/>
                    </div>
                </div>
                </br>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{address}" placeholder="Address"
                               class="form-control"/>
                    </div>
                </div>
                </br>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Add Publisher</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>